body {
    margin: 0;
    padding: 0;
    background: #262626;
}

.loader {
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.loader span {
    height: 15px;
    width: 15px;
    display: inline-block;
    border-radius: 50%;
    transition: all .5s;
    animation: animate 2s infinite;
}

.loader span:nth-child(1) {
    animation-delay: 0;
}
.loader span:nth-child(2) {
    animation-delay: .1s;
}
.loader span:nth-child(3) {
    animation-delay: .2s;
}
.loader span:nth-child(4) {
    animation-delay: .3s;
}
.loader span:nth-child(5) {
    animation-delay: .4s;
}
.loader span:nth-child(6) {
    animation-delay: .5s;
}

.loader h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
}

@keyframes animate {
    0% {
        border: 1px solid #fff;
        background: transparent;
        transform: translateY(0);
    }

    50% {
        border: 1px solid #fff;
        background: red;
        transform: translateY(-25px);
    }

    100% {
        border: 1px solid #fff;
        background: yellow;
        transform: translateY(0);
    }
}
