body {
    margin: 0;
    padding: 0;
    background: #aaa;
}

.center {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ball {
    width: 50px;
    border-top: 25px solid #f00;
    border-bottom: 25px solid #fff;
    border-radius: 50%;
    animation: bounce 1s linear infinite;
}

.ball:before {
    content: '';
    position: absolute;
    width: 50px;
    height: 5px;
    background-color: #000;
    z-index: 2;
}

.ball:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: #fff;
    border: 3px solid #000;
    z-index: 4;
}

.shadow {
    position: absolute;
    top: 40px;
    left: 0;
    width: 50px;
    height: 10px;
    background: #262626;
    border-radius: 50%;
    opacity: .8;
    animation: shadow 1s linear infinite;
}

@keyframes bounce {
    0% {
        transform: translateY(0) rotate(0deg);
    }

    50% {
        transform: translateY(-200px) rotate(180deg);
    }

    100% {
        transform: translateY(0) rotate(360deg);
    }
}

@keyframes shadow {
    0% {
        transform: scale(1);
        opacity: .8;
    }

    50% {
        transform: scale(.4);
        opacity: .3;
    }

    100% {
        transform: scale(1);
        opacity: .8;
    }
}