body {
    margin: 0;
    padding: 0;
    background: #262626;
    font-family: sans-serif;
    font-weight: bold;
}

ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) skewY(-8deg);
    display: flex;
    margin: 0;
    padding: 0;
    background: #f00;
    box-shadow: 0 0 0 10px #fff;
}

li {
    display: block;
    list-style: none;
    color: #fff;
    padding: 0 10px;
    font-size: 4em;
    text-transform: uppercase;
    animation: animate 3s linear infinite;
}

li:nth-child(1) {
    animation-delay: .1s;
}
li:nth-child(2) {
    animation-delay: .2s;
}
li:nth-child(3) {
    animation-delay: .3s;
}
li:nth-child(4) {
    animation-delay: .4s;
}
li:nth-child(5) {
    animation-delay: .5s;
}
li:nth-child(6) {
    animation-delay: .6s;
}
li:nth-child(7) {
    animation-delay: .7s;
}
li:nth-child(8) {
    animation-delay: .8s;
}
li:nth-child(9) {
    animation-delay: .9s;
}

@keyframes animate {
    0% {
        transform: translateY(-100px) rotateY(0deg);
    }

    20% {
        transform: translateY(0px) rotateY(360deg);
    }

    40% {
        transform: translateY(-10px) rotateY(360deg);
    }

    50% {
        transform: translateY(0px) rotateY(360deg);
    }

    50% {
        transform: translateY(0px) rotateY(360deg);
    }

    60% {
        transform: translateY(-10px) rotateY(360deg);
    }

    70% {
        transform: translateY(0px) rotateY(360deg);
    }

    80% {
        transform: translateY(0px) rotateY(360deg);
    }

    100% {
        transform: translateY(100px) rotateY(720deg);
    }
}