body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #9c27b0;
}

.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input[type="checkbox"] {
    display: none;
}

label {
    position: relative;
    display: inline-block;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

label span {
    position: relative;
    top: 3px;
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 2px solid #fff;
}

input[type="checkbox"]:checked+label span::before {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    right: 3px;
    bottom: 3px;
    background: #fff;
    animation: animate 2s linear infinite;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}