body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #f5f5f5;
}

h1::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #000;
    overflow: hidden;
    animation: animate 10s linear infinite;
    border-right: 1px solid #000;
}

@keyframes animate {
    0% {
        width: 0;
    }

    50% {
        width: 100%;
    }

    100% {
        width: 0;
    }
}