body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-transform: uppercase;
    font-size: 5em;
    color: #262626;
    margin: 250px auto 20px;
    padding: 0px 20px;
    position: relative;
    z-index: 1;
    left: 140px;
    display: inline-block;
}

h1:before {
    content: '';
    width: 0;
    height: 90px;
    background: #fbff65;
    position: absolute;
    top: 0;
    left: 0;
    animation: animate 5s linear 3;
    border-right: 5px solid #262626;
}

@keyframes animate {
    0% {
        width: 100%;
        z-index: 1;
    }

    50% {
        width: 0%;
        z-index: 1;
    }

    51% {
        width: 0%;
        z-index: -1;
    }

    100% {
        width: 100%;
        z-index: -1;
    }
}
