@import url('https://fonts.googleapis.com/css?family=Quicksand');

body {
    margin: 0;
    padding: 0;
    background: #011029;
    font-family: 'Quicksand', sans-serif;
}

.box {
    width: 800px;
    margin: 40px auto 0;
    padding: 40px;
    background: #052152;
    box-sizing: border-box;
}
.box ul {
    margin: 0;
    padding: 0;
    border-left: 2px solid #020c1d;
}

.box ul li {
    list-style: none;
}

.box ul li .item {
    position: relative;
    padding: 30px 20px;
}

.box ul li .item:hover {
    background: #041940;
}

.box ul li .item::before {
    content: '';
    position: absolute;
    top: 32px;
    left: -6px;
    width: 12px;
    height: 12px;
    background: #021434;
    border-radius: 50%;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 1);
}

.box ul li .item::after {
    content: '';
    position: absolute;
    top: 32px;
    left: -6px;
    width: 12px;
    height: 12px;
    background: #ff0;
    border-radius: 50%;
    box-shadow: inset 0 0 10px rgba(255, 255, 0, 1);
    opacity: 0;
}

.box ul li .item:hover::after {
    animation: animate .5s linear infinite;
}

.box ul li .item span {
    padding: 4px 12px;
    background: #007faf;
    border-radius: 15px;
    color: #fff;
}

.box ul li .item:hover span {
    background: #e91e63;
}

.box ul li .item h3 {
    margin: 10px 0 0;
    padding: 0;
    color: #007faf;
}

.box ul li .item:hover h3 {
    color: #ff0;
}

.box ul li .item p {
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
}

@keyframes animate {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}