body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #262626;
}

.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 500px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .3);
}

.imgBox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: .5s;
    z-index: 2;
    background: #000;
}

.box:hover .imgBox {
    transform: translateY(-100px);
}

.imgBox img {
    transition: .5s;
}

.box:hover .imgBox img {
    opacity: .5;
}

.social-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    display: flex;
    margin: 0;
    padding: 0;
}

.social-icon li {
    list-style: none;
}

.social-icon li a {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #fff;
    color: #262626;
    margin: 0 5px;
    border-radius: 50%;
    transition: .5s;
    transform: translateY(200px);
    opacity: 0;
}

.social-icon li a img {
    display: block;
    width: 35px !important;
    height: 35px !important;
    padding: 8px;
}

.social-icon li a:hover {
    transform: rotateY(360deg);
}

.box:hover .social-icon li a {
    transform: translateY(0px);
    opacity: 1;
}

.box:hover .social-icon li:nth-child(1) a {
    transition-delay: 0s;
}
.box:hover .social-icon li:nth-child(2) a {
    transition-delay: 0.2s;
}
.box:hover .social-icon li:nth-child(3) a {
    transition-delay: 0.4s;
}
.box:hover .social-icon li:nth-child(4) a {
    transition-delay: 0.6s;
}
.box:hover .social-icon li:nth-child(5) a {
    transition-delay: 0.8s;
}

.details {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #fff;
    z-index: 4;
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    padding: 10px;
    z-index: 1;
}

.details h2 {
    margin: 10px 0 0;
    padding: 0;
    text-align: center;
}

.details h2 span {
    color: #bbb;
    font-size: 16px;
}