body {
    margin: 0;
    padding: 0;
    background: #fffb4d;
}

h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0 20px;
    font-family: sans-serif;
    font-size: 6em;
    text-shadow: 0 5px 15px rgba(0, 0, 0, .3);
    text-transform: uppercase;
    border: 15px solid #000;
    border-top: none;
    transition: all 1s;
}

h1 span {
    position: relative;
    display: inline-block;
}

@keyframes animate {
    0% {
        transform: translateY(0px) rotate(0deg);
    }

    40% {
        transform: translateY(0px) rotate(0deg);
    }

    50% {
        transform: translateY(-180px) rotate(250deg);
    }

    60% {
        transform: translateY(0px) rotate(360deg);
    }

    100% {
        transform: translateY(0px) rotate(360deg);
    }
}

h1:hover {
    background: #000;
    color: #000;
}

h1 span {
    animation: animate 3s alternate infinite;
}

h1 span:nth-child(1) {
    animation-delay: 0s;
}
h1 span:nth-child(2) {
    animation-delay: 0.2s;
}
h1 span:nth-child(3) {
    animation-delay: 0.6s;
}
h1 span:nth-child(4) {
    animation-delay: -0.5s;
}
h1 span:nth-child(5) {
    animation-delay: 0.1s;
}
h1 span:nth-child(6) {
    animation-delay: 0.5s;
}
h1 span:nth-child(7) {
    animation-delay: 0.3s;
}