* {
    margin: 0;
    padding: 0;
}

body {
    background: #262626;
}

.glowing {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.glowing span {
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    color: #fff;
    display: inline-block;
    animation: animate 2s linear infinite;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    border: 2px solid rgba(255,255,255,.4);
    margin: 0 -2.5px;
}

@keyframes animate {
    0% {
        color: #f00;
        box-shadow: 0 2px 10px rgba(255,0,0,.1);
        border: 1px solid rgba(255,0,0,.1);
    }

    33.3% {
        color: #ff0;
        box-shadow: 0 2px 10px rgba(255,255,0,.1);
        border: 1px solid rgba(255,255,0,.1);
    }

    66.6% {
        color: #0f0;
        box-shadow: 0 2px 10px rgba(0,255,0,.1);
        border: 1px solid rgba(0,255,0,.1);
    }

    100% {
        color: #f00;
        box-shadow: 0 2px 10px rgba(255,0,0,.1);
        border: 1px solid rgba(255,0,0,.1);
    }
}

.glowing span:nth-child(1) {
    animation-delay: 0s;
}

.glowing span:nth-child(2) {
    animation-delay: 0.1s;
}

.glowing span:nth-child(3) {
    animation-delay: 0.2s;
}

.glowing span:nth-child(4) {
    animation-delay: 0.3s;
}

.glowing span:nth-child(5) {
    animation-delay: 0.4s;
}

.glowing span:nth-child(6) {
    animation-delay: 0.5s;
}

.glowing span:nth-child(7) {
    animation-delay: 0.6s;
}