body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #0c1856;
}

.skillsBox {
    position: relative;
    width: 600px;
    padding: 50px;
    margin: 100px auto;
}

.skillsBox h1 {
    margin: 0 0 20px;
    padding: 0;
    color: #fff;
}

.skills {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.skills h2 {
    margin: 10px 0 0;
    padding: 0;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
}

.progress {
    width: 100%;
    height: 20px;
    border-radius: 10px;
    border: 2px solid #fff;
    text-align: center;
    line-height: 22px;
    color: #fff;
    overflow: hidden;
}

.progress .percent {
    text-align: right;
    color: #fff;
    padding-right: 10px;
    border-right: 2px solid #fff;
    animation: animate .5s linear infinite;
    background: linear-gradient(45deg, 
                rgba(255, 255, 255, .25) 25%, 
                transparent 25%, 
                transparent 50%, 
                rgba(255, 255, 255, .25) 50%,
                rgba(255, 255, 255, .25) 75%,
                transparent 75%,
                transparent);
    background-size: 30px 30px;
}

@keyframes animate {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 30px 0;
    }
}