body {
    margin: 0;
    padding: 0;
    background: #262626;
}

h1 {
    margin: 0;
    padding: 20px 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 8em;
    letter-spacing: .1em;
    background: #72c3ff;
    color: #fff;
    text-shadow: 0 5px 2px rgba(0,0,0,.2);
    overflow: hidden;
}

h1::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(sky.png);
    background-size: contain;
    z-index: -1;
    animation: animateBefore 8s linear infinite;
    transition: .5s;
}

h1:hover::before {
    top: 0;
}

@keyframes animateBefore {
    0% {
        background-position: 0%;
    }

    100% {
        background-position: -100%;
    }
}


h1::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(sky1.png);
    background-size: contain;
    z-index: 1;
    animation: animateAfter 6s linear infinite;
    transition: .5s;
}

h1:hover::after {
    top: 0;
}

@keyframes animateAfter {
    0% {
        background-position: 0%;
    }

    100% {
        background-position: -100%;
    }
}