body {
    margin: 0;
    padding: 0;
}

.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
}

.box span {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 20px;
    height: 20px;
    background: #262626;
    border-radius: 50%;
}

.box span:nth-child(1) {
    background: #00bcd4;
    animation: animate 2s linear infinite;
}

.box span:nth-child(2) {
    background: #e91e63;
    animation: animate 2s linear infinite;
    animation-delay: -1s;
}

@keyframes animate {
    0% {
        top: 0;
        left: 0;
    }

    5% {
        top: 0;
        left: 0;
    }

    20% {
        top: 0;
        left: 50%;
    }

    25% {
        top: 0;
        left: 50%;
    }

    50% {
        top: 50%;
        left: 50%;
    }

    55% {
        top: 50%;
        left: 50%;
    }

    75% {
        top: 50%;
        left: 0;
    }

    80% {
        top: 50%;
        left: 0;
    }

    100% {
        top: 0;
        left: 0;
    }
}