body {
    margin: 0;
    padding: 0;
    background: #262626;
}

h1 {
    margin: 200px 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10em;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    color: #b0e9ff;
    text-shadow: 0 0 1px rgba(0,0,0,.2);
}

h1:before {
    content: 'liquid';
    text-transform: uppercase;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 25%;
    color: #fff;
    text-shadow: 0 0 1px rgba(0,0,0,.2);
    overflow: hidden;
    animation: animate 6s infinite linear;
}

@keyframes animate {
    0% {
        height: 25%;
    }

    25% {
        height: 50%;
    }

    50% {
        height: 30%;
    }

    75% {
        height: 70%;
    }

    100% {
        height: 25%;
    }
}