body {
    margin: 0;
    padding: 0;
    background: #262626;
}

.box {
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
}

.box span {
    position: absolute;
    /* top: 0;
    left: 0; */
    display: block;
    width: 20px;
    height: 20px;
    background: #ff0;
    border-radius: 50%;
}

.box span:nth-child(1) {
    background: #fff900;
    box-shadow: 0 0 25px #fff900;
    animation: animate 2s linear infinite;
}

.box span:nth-child(2) {
    background: #08ff28;
    box-shadow: 0 0 25px #08ff28;
    animation: animate 2s linear infinite;
    animation-delay: -1s;
}

.box span:nth-child(3) {
    background: #ff005a;
    box-shadow: 0 0 25px #ff005a;
    animation: animate 2s linear infinite;
    animation-delay: -0.5s;
}

.box span:nth-child(4) {
    background: #3896ff;
    box-shadow: 0 0 25px #3896ff;
    animation: animate 2s linear infinite;
    animation-delay: -1.5s;
}

@keyframes animate {
    0% {
        top: 0;
        left: 0;
    }

    5% {
        top: 0;
        left: 0;
    }

    20% {
        top: 0;
        left: 50%;
    }

    25% {
        top: 0;
        left: 50%;
    }

    50% {
        top: 50%;
        left: 50%;
    }

    55% {
        top: 50%;
        left: 50%;
    }

    75% {
        top: 50%;
        left: 0;
    }

    80% {
        top: 50%;
        left: 0;
    }

    100% {
        top: 0;
        left: 0;
    }
}

/* SECONDO LOADING */
.box2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
}

.box2 span {
    position: absolute;
    /* top: 0;
    left: 0; */
    display: block;
    width: 20px;
    height: 20px;
    background: #ff0;
    border-radius: 50%;
}

.box2 span:nth-child(1) {
    background: #fff900;
    box-shadow: 0 0 25px #fff900;
    animation: animate 2s linear infinite;
}

.box2 span:nth-child(2) {
    background: #08ff28;
    box-shadow: 0 0 25px #08ff28;
    animation: animate 2s linear infinite;
    animation-delay: -1s;
}

.box2 span:nth-child(3) {
    background: #ff005a;
    box-shadow: 0 0 25px #ff005a;
    animation: animate 2s linear infinite;
    animation-delay: -0.5s;
}

.box2 span:nth-child(4) {
    background: #3896ff;
    box-shadow: 0 0 25px #3896ff;
    animation: animate 2s linear infinite;
    animation-delay: -1.5s;
}

/* TERZO LOADING */
.box3 {
    position: absolute;
    top: 50%;
    left: 65%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
}

.box3 span {
    position: absolute;
    /* top: 0;
    left: 0; */
    display: block;
    width: 20px;
    height: 20px;
    background: #ff0;
    border-radius: 50%;
}

.box3 span:nth-child(1) {
    background: #fff900;
    box-shadow: 0 0 25px #fff900;
    animation: animate 2s linear infinite;
}

.box3 span:nth-child(2) {
    background: #08ff28;
    box-shadow: 0 0 25px #08ff28;
    animation: animate 2s linear infinite;
    animation-delay: -1s;
}

.box3 span:nth-child(3) {
    background: #ff005a;
    box-shadow: 0 0 25px #ff005a;
    animation: animate 2s linear infinite;
    animation-delay: -0.5s;
}

.box3 span:nth-child(4) {
    background: #3896ff;
    box-shadow: 0 0 25px #3896ff;
    animation: animate 2s linear infinite;
    animation-delay: -1.5s;
}