body {
    margin: 0;
    padding: 0;
    background: #262626;
}

.pulse {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    background: #58ea00;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 80px;
}

.pulse:before,
.pulse:after {
    content: '';
    display: block;
    position: absolute;
    border: 50%;
    border-radius: 50%;
    border: 1px solid #58ea00;
    left: -20px;
    right: -20px;
    top: -20px;
    bottom: -20px;
    animation: animate 1.5s linear infinite;
    opacity: 0;
    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.pulse:after {
    animation-delay: .5s;
}

.phone {
    width: 50px;
    height: 10px;
    border-bottom-left-radius: 100% 30px;
    border-bottom-right-radius: 100% 30px;
    background: #fff;
    transform: translate(10px, 40px) rotate(50deg);
}

.phone:before { /* Parte bassa */
    content: '';
    position: absolute;
    width: 15px;
    height: 10px;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    background: #fff;
    transform: translate(10px, -9px) rotate(180deg);
    z-index: 10;
}

.phone:after { /* Parte alta */
    content: '';
    position: absolute;
    width: 15px;
    height: 10px;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    background: #fff;
    transform: translate(-25px, -9px) rotate(0deg);
    z-index: 10;
}

@keyframes animate {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}