* {
    margin: 0;
    padding: 0;
    font-family: consolas;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
    flex-direction: row;
    background-color: #050801;
}

a {
    position: relative;
    display: block;
    padding: 25px 30px;
    margin: 41px 0;
    color: #03e9f4;
    font-size: 24px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.2s;
    letter-spacing: 4px;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

a:nth-child(1){
    filter: hue-rotate(290deg);
}

a:nth-child(3) {
    filter: hue-rotate(110deg);
}

@media screen and (max-width: 830px) {
    body {
        flex-direction: column;
    }
}

a:hover {
    background-color: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 25px #03e9f4;
}

a span {
    position: absolute;
    display: block;
}

a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: snake-border1 1s linear infinite;
}

@keyframes snake-border1 {
    0% {
        left: -100%;
    }

    50%,
    100% {
        left: 100%;
    }

}

a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: snake-border2 1s linear infinite;
    animation-delay: 0.25s;

}

@keyframes snake-border2 {
    0% {
        top: -100%;
    }

    50%,
    100% {
        top: 100%;
    }
}

a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: snake-border3 1s linear infinite;
    animation-delay: 0.5s;

}

@keyframes snake-border3 {
    0% {
        right: -100%;
    }

    50%,
    100% {
        right: 100%;
    }
}

a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: snake-border4 1s linear infinite;
    animation-delay: 0.75s;
}

@keyframes snake-border4 {
    0% {
        bottom: -100%;
    }

    50%,
    100% {
        bottom: 100%;
    }
}