* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.stage-wrapper {
    width: 800px;
    height: 600px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    background: #fff;
    filter: blur(10px) contrast(20);
}

.obj-1,
.obj-2 {
    width: 200px;
    height: 200px;
    top: 50%;
    left: 50%;
    position: absolute;
    border-radius: 50%;
    background: #000;
    transform: translate(-50%,-50%);
}

.obj-1 {
    left: 30%;
    animation: animation-1 3s ease infinite;
}

.obj-2 {
    left:70%;
    animation: animation-2 3s ease infinite;
}

@keyframes animation-1 {
    0% {
        left:30%; 
    }
    50% {
        left:50%; 
    }
    100% {
        left:30%; 
    }
}

@keyframes animation-2 {
    0% {
        left:70%;
    }
    50% {
        left:50%;
    }
    100% {
        left:70%;
    }
}