body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    display: flex;
    width: 320px;
    height: 60px;
}

ul::before {
    content: url(share2.png);
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #ff00ff, #8a2be2);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 2px;
    transition: 0.5s;
    z-index: 1;
}

ul:hover::before {
    width: 60px;

}

ul li {
    position: absolute;
    list-style: none;
    transition: 1s;
}

ul li a {
    display: block;
    width: 60px !important;
    height: 60px !important;
    line-height: 60px;
    text-align: center;
    background: #262626;
    color: #fff;
    margin: 0 2px;
    border-radius: 50%;
    font-size: 30px;
    transition: 1s;
}

ul li:nth-child(1) a {
    background: #3b5999;
}
ul li:nth-child(2) a {
    background: #e4405f;
}
ul li:nth-child(3) a {
    background: #55acee;
}
ul li:nth-child(4) a {
    background: #0077b5;
}
ul li:nth-child(5) a {
    background: #25d366;
}

ul li a img {
    display: block;
    width: 35px !important;
    height: 35px !important;
    padding: 12px;
    filter: contrast(100);
}

ul:hover li:nth-child(1) a {
    transform: translateX(64px) rotate(360deg);
    transition-delay: .8s;
}
ul:hover li:nth-child(2) a {
    transform: translateX(128px) rotate(360deg);
    transition-delay: .6s;
}
ul:hover li:nth-child(3) a {
    transform: translateX(192px) rotate(360deg);
    transition-delay: .4s;
}
ul:hover li:nth-child(4) a {
    transform: translateX(256px) rotate(360deg);
    transition-delay: .2s;
}
ul:hover li:nth-child(5) a {
    transform: translateX(320px) rotate(360deg);
    transition-delay: 0s;
}