body {
    margin: 0;
    padding: 0;
    background: #ccc;
}

ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    display: flex;
}

ul li {
    list-style: none;
    margin: 0 40px;
}

ul li a .fa {
    font-size: 40px;
    color: #262626;
    line-height: 80px;
    transition: .5s;
}

ul li a {
    position: relative;
    display: block;
    width: 80px;
    height: 80px;
    background: #ddd;
    text-align: center;
    transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(0,0);
    transition: .5s;
    box-shadow: -20px 20px 10px rgba(0,0,0,.5);
}

ul li a:before {
    content: '';
    position: absolute;
    top: 10px;
    left: -20px;
    height: 100%;
    width: 20px;
    background: #b1b1b1;
    transition: .5s;
    transform: rotate(0deg) skewY(-45deg);
}

ul li a:after {
    content: '';
    position: absolute;
    bottom: -20px;
    left: -10px;
    height: 20px;
    width: 100%;
    background: #b1b1b1;
    transition: .5s;
    transform: rotate(0deg) skewX(-45deg);
}

ul li a:hover {
    transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(20px, -20px);
    box-shadow: -50px 50px 50px rgba(0,0,0,.5);
}

ul li:hover .fa {
    color: #fff;
}

ul li:hover:nth-child(1) a {
    background: #4267B2;
}
ul li:hover:nth-child(1) a::before {
    background: #34538E;
}
ul li:hover:nth-child(1) a::after {
    background: #6786C1;
}


ul li:hover:nth-child(2) a {
    background: #C13584;
}
ul li:hover:nth-child(2) a::before {
    background: #9A2A69;
}
ul li:hover:nth-child(2) a::after {
    background: #CD5D9C;
}


ul li:hover:nth-child(3) a {
    background: #1DA1F2;
}
ul li:hover:nth-child(3) a::before {
    background: #1780C1;
}
ul li:hover:nth-child(3) a::after {
    background: #4AB3F4;
}


ul li:hover:nth-child(4) a {
    background: #FF0000;
}
ul li:hover:nth-child(4) a::before {
    background: #CC0000;
}
ul li:hover:nth-child(4) a::after {
    background: #FF3333;
}


ul li:hover:nth-child(5) a {
    background: #25D366;
}
ul li:hover:nth-child(5) a::before {
    background: #1DA850;
}
ul li:hover:nth-child(5) a::after {
    background: #50DB83;
}















/*
ul li:nth-child(1) a:hover .fa {
    color: #4267B2;
}

ul li:nth-child(2) a:hover .fa {
    color: #C13584;
}

ul li:nth-child(3) a:hover .fa {
    color: #1DA1F2;
}

ul li:nth-child(4) a:hover .fa {
    color: #FF0000;
}

ul li:nth-child(5) a:hover .fa {
    color: #25D366;
}
*/