body {
    margin: 0;
    padding: 0;
    background: #262626;
}

.container {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
}

.square {
    width: 80px;
    height: 80px;
    background: #fff;
    padding: 20px;
    box-sizing: border-box;
    animation: square 2s infinite;
}

.circle {
    width: 40px;
    height: 40px;
    background: #262626;
    animation: circle 2s infinite;
}

@keyframes square {
    0% {
        transform: rotate(0deg) scale(1) translateX(0);
        border-radius: 0;
        background: #fff;
    }

    25% {
        transform: rotate(360deg) scale(.5) translateX(50px);
        border-radius: 50%;
        background: #f00;
    }

    50% {
        transform: rotate(360deg) scale(.5) translateX(0);
        border-radius: 50%;
        background: #f00;
    }

    75% {
        transform: rotate(360deg) scale(.5) translateX(-50px);
        border-radius: 50%;
        background: #f00;
    }

    100% {
        transform: rotate(720deg) scale(1) translateX(0);
        border-radius: 0%;
        background: #fff;
    }
}

@keyframes circle {
    0% {
        transform: rotate(0deg) scale(.5) translateY(0);
        border-radius: 50%;
        background: #f00;
    }

    50% {
        transform: rotate(-720deg) scale(1.5) translateY(50px);
        border-radius: 0%;
        background: #fff;
    }

    100% {
        transform: rotate(-1440deg) scale(.5) translateY(0);
        border-radius: 50%;
        background: #f00;
    }
}



/* SECONDO LOADING - MIO */

.container2 {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
}

.square2 {
    width: 80px;
    height: 80px;
    background: #fff;
    padding: 20px;
    box-sizing: border-box;
    animation: square2 2s infinite;
}

.circle2 {
    width: 40px;
    height: 40px;
    background: #262626;
    animation: circle2 2s infinite;
}

@keyframes square2 {
    0% {
        transform: rotate(0deg) scale(1);
        border-radius: 0;
        background: #fff;
    }

    25% {
        transform: rotate(360deg) scale(.5);
        border-radius: 50%;
        background: #f00;
    }

    50% {
        transform: rotate(360deg) scale(.5);
        border-radius: 50%;
        background: #f00;
    }

    75% {
        transform: rotate(360deg) scale(.5);
        border-radius: 50%;
        background: #f00;
    }

    100% {
        transform: rotate(720deg) scale(1);
        border-radius: 50%;
        background: #fff;
    }
}