body {
    margin: 0;
    padding: 0;
    background: url(bg.png);
    background-size: cover;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pointer {
    width: 50px;
    height: 50px;
    background: -webkit-linear-gradient(left top, #009ec4, #63e1ff);
    border-radius: 50%;
    border-bottom-right-radius: 2px;
    z-index: 2;
    transform: rotate(45deg);
}

.pointer::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #262626;
    border-radius: 50%;
    transform: scale(.5);
}

.shadow {
    position: absolute;
    bottom: -15px;
    left: 0;
    width: 50px;
    height: 10px;
    background: #03a9f4;
    border-radius: 50%;
    z-index: -1;
    filter: blur(10px);
    animation: animate 1s linear infinite;
}

@keyframes animate {
    0% {
        transform: scale(1.5);
    }

    50% {
        transform: scale(.5);
    }

    100% {
        transform: scale(1.5);
    }
}