body {
    margin: 0;
    padding: 0;
    background: url(bg.jpg);

}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 250px;
    box-sizing: border-box;
    border: 15px solid rgba(0,0,0,.8);
    border-radius: 50%;
}

.circle1 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-style: solid;
    border-width: 5px;
    border-color: #f1c40f #e74c3c #9b59b6 #2ecc71;
    box-sizing: border-box;
    animation: animateCircle1 5s linear infinite;
    background: #262626;
}

.circle2 {
    position: absolute;
    top: 16px;
    left: 16px;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    border-radius: 50%;
    border: 4px dashed #fff;
    animation: animateCircle2 10s linear infinite;

}

.circle3 {
    position: absolute;
    top: 20px;
    left: 20px;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    border-radius: 50%;
    animation: animateCircle3 10s linear infinite;
}

h1 {
    position: relative;
    width: 80%;
    top: 30%;
    left: 10%;
    text-align: center;
    color: #bbb;
    border: 1px solid #bbb;
}

@keyframes animateCircle1 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes animateCircle2 {
    0% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}