@import url('https://fonts.googleapis.com/css?family=Satisfy');

* {
    margin: 0;
    padding: 0;
}

body {
    background: #234652 url(star.png);
    background-size: contain;
    animation: animate 25s linear infinite;
}

@keyframes animate {
    0% {
        background-position: 0;
    }

    100% {
        background-position: 100%;
    }
}

.container {
    position: relative;
    width: 100%;
    height: 640px;
    overflow: hidden;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.moon {
    position: relative;
    width: 150px;
    height: 150px;
    background: #fff;
    border-radius: 50%;
}

.moon:before {
    content: '';
    position: absolute;
    top: -15px;
    right: -15px;
    background: #234652;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.moon:after {
    content: '';
    position: absolute;
    top: 0;
    left: -325px;
    height: 100%;
    width: 400px;
    background: linear-gradient(to left, rgba(0,0,0,.4) 0%, rgba(0,0,0,0) 100%);
    transform-origin: right;
    transform: rotate(-45deg);
    z-index: -2;
}

.cloud {
    position: absolute;
    width: 300px;
    height: 100px;
    background: #fff;
    border-radius: 50px;
    top: -100px;
    left: -300px;
}

.cloud span {
    position: absolute;
    width: 120px;
    height: 120px;
    background: #fff;
    border-radius: 50%;
    display: block;
}

.cloud span:nth-child(1) {
    top: -50px;
    left: 30px;
}

.cloud span:nth-child(2) {
    top: -30px;
    left: 140px;
}

.cloud span:nth-child(3) {
    top: -80px;
    left: 80px;
}

.cloud:after {
    content: '';
    position: absolute;
    top: -110px;
    left: -368px;
    width: 560px;
    height: 240px;
    background: linear-gradient(to left, rgba(0,0,0,.4) 0%, rgba(0,0,0,0) 100%);
    transform-origin: right;
    transform: rotate(-45deg);
    z-index: -2;
}

.cloud2 {
    top: 150px;
    left: 200px;
}

h1 {
    font-size: 7em;
    color: #fff;
    position: absolute;
    top: 0;
    right: 150px;
    font-family: 'Satisfy', cursive;
}