@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000d0f;
}

.container {
    position: relative;
    width: 80px;
    height: 50px;
    border-radius: 40px;
    border: 2px solid rgba(255,255,255,1);
    transition: all .6s;
}

.container:hover {
    width: 120px;
    border: 2px solid rgba(255,255,255,1);
}

.container .next {
    position: absolute;
    top: 50%;
    right: 30px;
    display: block;
    width: 12px;
    height: 12px;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    z-index: 1;
    transform: translateY(-50%) rotate(135deg);
    cursor: pointer;
    opacity: 0;
    transition: all 1s;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.container:hover .next {
    opacity: 1;
    right: 20px;
}

.container .prev {
    position: absolute;
    top: 50%;
    right: 30px;
    display: block;
    width: 12px;
    height: 12px;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    z-index: 1;
    transform: translateY(-50%) rotate(315deg);
    cursor: pointer;
    opacity: 0;
    transition: all 1s;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.container:hover .prev {
    opacity: 1;
    left: 20px;
}

#box span {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 46px;
    display: none;
    color: #00deff;
    font-size: 24px;
    font-weight: 700;
    user-select: none;
}

#box span:nth-child(1) {
    display: initial;
}