body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    animation: day2night 15s linear infinite;
}

.circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 720px;
    height: 720px;
    animation: animate 25s linear infinite;
}

.man {
    width: 50%;
    height: 2px;
    background: transparent;
    position: absolute;
    top: calc(50% - 1px);
    transform-origin: right;
    animation: animateMan 10s linear infinite;
}

.man img {
    transform: rotate(60deg) translateY(15px);
}

@keyframes animate {
    0% {
        transform: translate(-50%, -50%) rotate(0deg) scale(.8);
    }

    100% {
        transform: translate(-50%, -50%) rotate(-360deg) scale(.8);
    }
}

@keyframes animateMan {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes day2night {
    0% {
        background: #fff;
    }

    10% {
        background: #fff;
    }

    50% {
        background: #00523f;
    }

    90% {
        background: #fff;
    }

    100% {
        background: #fff;
    }
}