body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    width: 200px;
}

ul li {
    list-style: none;
    border-top: 1px solid #262626;
    border-bottom: 1px solid #262626;
    margin: -1px 0;
    transition: 0.5s;
}

ul li:hover {
    transform: translateX(25px);
}

ul li a {
    display: block;
    border-right: 1px solid #262626;
    text-decoration: none;
    color: #262626;
}

ul li a span {
    position: relative;
    display: inline-block;
}

ul li a span:nth-child(1) {
    width: 30px;
    text-align: center;
    border-left: 1px solid #262626;
    border-right: 1px solid #262626;
    padding: 10px;
    transition: 0.5s;
    color: #262626;
}

ul li:hover a span:nth-child(1).facebook {
    background-color: #4267B2;
}
ul li:hover a span:nth-child(1).instagram {
    background-color: #C13584;
}
ul li:hover a span:nth-child(1).twitter {
    background-color: #1DA1F2;
}
ul li:hover a span:nth-child(1).youtube {
    background-color: #FF0000;
}
ul li:hover a span:nth-child(1).whatsapp {
    background-color: #25D366;
}

ul li a span:nth-child(1) .fa {
    transition: 0.5s;
}

ul li:hover a span:nth-child(1) .fa {
    transition: rotateY(360deg);
    color: #fff;
}

ul li a span:nth-child(2) {
    padding: 10px;
}